body{
    background-color: black;
    }
    #container{
        border-style: solid;
        border-width: 15px;
        margin: 5%; 
      border-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1ceBAPnRoaeVZKu1ml4yE-M3A8rblR0RNrmPGktOqeKRF9ZoefA) 10 round;
    }
    
    .head{
     font-family: 'Charm', cursive;
     color: white;
     font-size: 30px;
     text-align: center;
    }
    #guesses{
        font-family: 'Charm', cursive;
        border-style: solid;
        border-color: white;
        border-width: 3px;
        height: 30px;
        width: 100px;
        color: white;
        font-size: 30px;
        text-align: center;
    
    }
    #slots{
        font-family: 'Charm', cursive;
         border-style: solid;
        border-color: white;
        border-width: 3px;
        height: 30px;
        width: 100px;
        color: white;
        font-size: 30px;
        text-align: center;
    
    
    }
    #loses{
        font-family: 'Charm', cursive;
        border-style: solid;
        border-color: white;
        border-width: 3px;
        height: 30px;
        width: 20%;
        color: white;
        font-size: 30px;
        text-align: center;
    
    }
    #roundWins{
        font-family: 'Charm', cursive;
        border-style: solid;
        border-color: white;
        border-width: 3px;
        height: 30px;
        width: 100px;
        color: white;
        font-size: 30px;
        text-align: center;  
    }
    #img2{
       margin: 5% 35% 5% 35%;
     
    }